## 9. Listas

* append - adiciona um elemento ao final da lista

In [1]:
# Declara a lista
numeros = [45, 50, 55]

# Adiciona o número 60 ao final da lista
numeros.append(30)

In [2]:
numeros

[45, 50, 55, 30]

In [3]:
numeros.append(77)

In [4]:
numeros

[45, 50, 55, 30, 77]

Se fizermos numeros.append(60, 61):

   * TypeError: append() takes exactly one argument (2 given)

Ou seja, o método append recebe apenas um argumento. poderíamos então colocar os números dentro de uma lista ou tupla e passar como argumento da função append.

In [5]:
numeros.append([60, 61])

In [6]:
numeros

[45, 50, 55, 30, 77, [60, 61]]

extend - adiciona os elementos de um iterável (por exemplo, lista, tupla...) ao final de uma lista.

In [7]:
# Declaramos uma lista
numeros = [0, 0, 0, 0]

# Adicionamos apenas os números do iterável
numeros.extend([1, 2, 3])

In [8]:
numeros

[0, 0, 0, 0, 1, 2, 3]

In [9]:
numeros.extend([60, 61])

In [10]:
numeros

[0, 0, 0, 0, 1, 2, 3, 60, 61]

In [11]:
# Adicionamos as letras da string
numeros.extend('abcdef')

In [12]:
numeros

[0, 0, 0, 0, 1, 2, 3, 60, 61, 'a', 'b', 'c', 'd', 'e', 'f']

insert - adiciona um elemento em uma posição especificada. Sintaxe:

   * lista.insert(index, object) - primeiro passamos o índice e depois o objeto.

In [13]:
# Declara a lista
numeros = [4, 10, 11, 12, 7, 9, 15]

In [14]:
numeros[1]

10

In [15]:
# Insere o número 0 no índice 1
numeros.insert(1,0)

In [16]:
numeros

[4, 0, 10, 11, 12, 7, 9, 15]

In [17]:
numeros[1]

0

remove - remove o primeiro item com o valor especificado.

ValueError: se inserirmos um valor que não esteja na lista teremos esse tipo de erro.

In [18]:
# Removemos o número 13 da lista
numeros = [10, 11, 12, 13]
numeros.remove(13)

In [19]:
numeros

[10, 11, 12]

pop - remove e retorna o elemento com o índice especificado.

In [20]:
numeros = ['k', 'm', 'z', 'a', 'b', 'o']

In [21]:
# Se não inserirmos o índice, o último elemento será removido
numeros.pop()

'o'

In [22]:
numeros

['k', 'm', 'z', 'a', 'b']

In [23]:
# Remove e retorna o elemento com índice 1
numeros.pop(1)

'm'

In [24]:
numeros

['k', 'z', 'a', 'b']

Também podemos deletar elementos de uma lista com a instrução del:

In [25]:
# Deletamos o item de índice 0
letras = ['k', 'i', 'j', 'm']
del letras[0]

In [26]:
letras

['i', 'j', 'm']

Podemos deletar completamente a lista:

In [27]:
del letras

Já não temos mais a lista letras. Se tentarmos acessá-la novamente teremos: NameError.

clear - remove todos os elementos da lista.

In [28]:
letras = ['abc','ab','a']
letras.clear()

In [29]:
letras

[]

count - retorna o número de ocorrências de um valor especificado.

In [30]:
numeros = [1, 1, 1, 0, 0, 0, 5, 3, 1, 2]

In [31]:
# Conta o número de ocorrências do número 1
numeros.count(1)

4

In [32]:
numeros.count(0)

3

reverse - inverte a ordem da lista.

In [33]:
# Inverte a ordem da lista
numeros = [10, 11, 12, 13, 14, 15]
numeros.reverse()

In [34]:
numeros

[15, 14, 13, 12, 11, 10]

sort - ordena a lista.

In [35]:
# Declara uma lista não ordenada
numeros = [-10, 100, -1, 60, 76, 33, -30, 150]

In [36]:
numeros

[-10, 100, -1, 60, 76, 33, -30, 150]

In [37]:
# Ordena a lista
numeros.sort()

In [38]:
numeros

[-30, -10, -1, 33, 60, 76, 100, 150]

index - retorna o índice do primeiro elemento com o valor especificado. Sintaxe:

 * index(value, start=0,stop)

In [39]:
lista = [5, 6, 7, 8]

In [40]:
# Retorna o índice da primeira ocorrência do número 5
lista.index(5)

0

In [41]:
# Retorna o índice da primeira ocorrência do número 3
numeros = [1, 2, 3, 3, 3, 3, 3, 7, 7, 8, 9, 10, 10, 11, 12, 11]
numeros.index(3)

2

In [42]:
# Retorna o índice do valor 3, começando a contar a partir do índice 5 da lista
numeros.index(3, 5)

5